
h1 {
    color: rgb(12, 125, 53);
    font-family: Arial, Helvetica, sans-serif;
  

}


#main-section-home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 3rem;
    
    color:blue;
}
