
h1 {
    color: rgb(111, 252, 163);
    font-family: Arial, Helvetica, sans-serif;
  

}


#main-section-home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 3rem;
    color:blue;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


#main-wrapper{
    padding-top: 100px;
    width: 100%;
    height: 10rem;
    
}

#eingabe-form{
    margin-bottom:30px;
}


#amount{
    width: 100%;
}